<h1>StaticPages#about</h1>
<p>Hi this is my Rails App I created so you can play my Battleships Go! game online</p>

<p>Big up to Michael Hartl for his <A target="_blank" href="https://www.railstutorial.org/book/">tutorial</A> from which I got most of the code for this site.</p>

<p>Internationalization tuturial care of the team at 

<%= link_to "lokalise", "https://blog.lokalise.com/rails-i18n/", target: "_blank", rel: "nofollow" %> and the <%= link_to "RailsGuide - Rails Internationalization (I18n) API", "https://guides.rubyonrails.org/i18n.html", target: "_blank", rel: "nofollow" %></p>