<% provide(:title, "Grid Demo") %>

<h1>A Test Grid created on the fly</h1>

<p>Test Grid</p>


  <div class="grid-container">

    <% {"Zero" => 0,"One" => 1,"Two" => 2,"Three" => 3,"Four" => 4,"Five" => 5,"Six" => 6,"Seven" => 7,"Eight" => 8,"Nine" => 9,"Ten" => 10}.each do |x,y| %>
    
    	<div class="X-CORDS-ROW-<%= x %>"><%= y %></div> 
    
    <% end %>

	<% ["A","B","C","D","E","F","G","H","I","J"].each do |x| %>
    
     <div class="<%= x %>-Zero"><%= x %></div> 
	
	<% end %>

	<% GridDemo.new.grid_container.each do |x, y|  %>
  	<% if y == "X" %>
  		  <div class="<%= x %>"><%= y %></div>  
      <% else %>
        <div class="<%= x %>"><b><div style="color:rgb(255,0,0)"><%= y %></b></div></div>  
	  <% end %>
	<%end %> 
  
  </div>