
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<!-- <h2>Comments</h2> -->
Comments
<%= render @article.comments %>

<!-- <h2>Add a comment:</h2> -->
<p>
	Add a new Comment
<%= render 'comments/form' %>
