<h1>Welcome</h1>
<h2>Hello again, Rails!</h2><p>
<%= link_to 'Index', controller: 'articles' %><p>

<%= link_to 'New article', new_article_path %><p>


<% if logged_in? %>
   <%= link_to "Log out", logout_path, method: :delete %>
 <% else %>
   <%= link_to "Log in", login_path %><p>
   <%= link_to "Sign up now!", signup_path %>
<% end %>
<%= debug(params) if Rails.env.development? %>

  
