<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this Vessel from being deployed:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div id="hori-z-div" style="display:none">
    <button type="button" class="btn btn-default btn-lg" id="hori-z" onclick="setDirection(this)">
      <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> Horizontal
    </button>
  </div>
  <div id="vert-div">
    <button type="button" class="btn btn-default btn-lg" id="vert" onclick="setDirection(this)">
      <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span> Vertical
    </button>
    </div>
  <div id="pB_name" style="display:none"><%= game.direction %></div>
  <div id="direction-div" style="display:block">
    <div class="field" style="display:none">
      <%= form.label :direction %>
      <%= form.select(:direction, ['','H', 'V'], {}, { :class => 'form-control'}) %>
    </div>
  </div>  
  <div class="form-group">
    <%= form.label :x_pos %>
    <%= form.select(:x_pos, ['','A', 'B','C','D', 'E', 'F', 'G', 'H', 'I', 'J'], {}, { :class => 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= form.label :y_pos %>
    <%= form.select(:y_pos, ['','1', '2','3','4', '5', '6', '7', '8', '9', '10'], {}, { :class => 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= form.check_box :auto_deploy, class: 'is_current', id: "checkbox_id", onclick: "change()" %> Auto
  </div> 
 
  <div class="actions">
    <%= form.submit yield(:button_text),  class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
