<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Name'%>
    <%= form.text_field( :pA_name, id: :playerA, class: "form-control" ) %>
  </div>

  <div class="form-group">
    <%= form.label 'Opponent' %>
    <%= form.text_field( :pB_name, id: :playerB, class: "form-control" ) %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
