  <%= @game.pA_name %>'s Fleet
  <div class="grid-container">

    <% {"Zero" => 0,"One" => 1,"Two" => 2,"Three" => 3,"Four" => 4,"Five" => 5,"Six" => 6,"Seven" => 7,"Eight" => 8,"Nine" => 9,"Ten" => 10}.each do |x,y| %>
    
    	<div class="X-CORDS-ROW-<%= x %>"><%= y %></div> 
    
    <% end %>

	<% ["A","B","C","D","E","F","G","H","I","J"].each do |x| %>
    
     <div class="<%= x %>-Zero"><%= x %></div> 
	
	<% end %>

	<% @game.p1_hashed_game_grid.each do |x, y|  %>
  	<% if y == "X" %>
      
      <% if @game.state == "deployed"%>
        <div class="<%= x+"-No-Hover" %>"><div style="color:rgb(0,0,0)"><%= y %></div></div>  
      <% else %>
        <div class="<%= x %>" id="<%= x.gsub('-','_') %>" onclick="setTarget(this)"><div style="color:rgb(0,0,0)"><%= y %></div></div>  
      <% end %>

      <% else %>
        <% if @game.state == "deployed"%>
          <div class="<%= x+"-No-Hover" %>"><b><div style="color:rgb(255,0,0)"><%= y %></b></div></div> 
        <% else %>
          <div class="<%= x %>" id="<%= x.gsub('-','_') %>" ><b><div style="color:rgb(255,0,0)"><%= y %></b></div></div>  
	      <% end %>

    <% end %>
	<%end %> 
  
  </div>