<div class="container">
  <%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div class="alert alert-warning">
      <% game.errors.full_messages.each do |message| %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong><%= message %>
      <% end %>
    </div>
  <% end %>






  <div class="form-group">
    <%= form.label :x_pos %>
    <%= form.select(:x_pos, ['','A', 'B','C','D', 'E', 'F', 'G', 'H', 'I', 'J'], {}, { :class => 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= form.label :y_pos %>
    <%= form.select(:y_pos, ['','1', '2','3','4', '5', '6', '7', '8', '9', '10'], {}, { :class => 'form-control'}) %>
  </div>

  <div class="actions">
    <%= form.submit yield(:button_text), class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
</div>
