<% if @game.state == "deploying"%>
   <% provide(:button_text, 'Deploy Vessel') %>
<% elsif @game.state == "deployed"%>
  <% provide(:button_text, 'Play!') %>
<% else %>
  <% if @game.sub_status == "play_PlayerA"%>
    <% provide(:button_text, 'Fire!') %>
  <% else %>
    <% provide(:button_text, 'Continue...') %>
  <% end %> 
<% end %>

<h1>Battleships are Go!</h1>

 <div class="field">
   <h2>Player A = <%= @game.pA_name %> | Player B = <%= @game.pB_name %> | Current Player = <div style="display: inline" id='curr-player'><%= @game.current_player %></div></h2>
 </div>
 
 <% @fleet = { "0" => "Aircraft Carrier", "1" => "Battleship" , "2" => "Cruiser", "3" => "Submarine", "4" => "Destroyer"} %>

<% if @game.state == "deploying"%>
   <h3>Deploy your <%= @fleet[@game.deploy_count]%></h3>
<% elsif @game.state == "deployed"%>
   <h3>Your Fleet is deployed. Press Play to continue.</h3>
<% else %>
  <% if @game.sub_status == "play_PlayerA"%>
    <h3>Take aim ..... and fire!</h3>
  <% elsif @game.sub_status == "show_PlayerA" %>
    <h3><%= @game.message %></h3>
  <% else %>
    <h3><%= @game.message %></h3>
  <% end %>
<% end %>

State = <div style="display: inline" id='curr-state'><%= @game.state %></div> | substate = <%= @game.sub_status %> | deploy_count = <%= @game.deploy_count %>

<% if @game.state == "deploying"%>
  <div class="playwrapper">
    <div class="playbox a">
      <%= render 'gamegrid', game: @game %>
    </div>
  </div>
  <%= render 'deployform', game: @game %>

<% elsif @game.state == "deployed"%>
<p>Scores: <%= @game.pA_name %> = <%= @game.score["PlayerA"].to_s %>: <%= @game.pB_name %> = <%= @game.score["PlayerB"].to_s %>
  <div class="playwrapper">
    <div class="playbox a">
      <%= render 'gamegrid', game: @game %>
    </div>
  </div>
  <%= render 'goplayform', game: @game %>

<% else %>
<p>Scores: <%= @game.pA_name %> = <%= @game.score["PlayerA"].to_s %>: <%= @game.pB_name %> = <%= @game.score["PlayerB"].to_s %>
          <% if @game.sub_status == "play_PlayerA"%>
          
            <div class="playwrapper">
              <div class="playbox a">
                <%= render 'displaygrid', game: @game %>
              </div>
              <div class="playbox b">
                <%= render 'oceangrid', game: @game %>
              </div>
      
            </div>
                <%= render 'playform', game: @game %>

          <% elsif @game.sub_status == "show_PlayerA"%>
          
            <div class="playwrapper">
              <div class="playbox a">
                <%= render 'displaygrid', game: @game %>
              </div>
              <div class="playbox b">
                <%= render 'oceangrid', game: @game %>
              </div>
     
            </div>
            <% unless @game.state == "gameover" %>
                <%= render 'goplayform', game: @game %>  
            <% end %>
          <% else %>

            <div class="playwrapper">
              <div class="playbox a">
                <%= render 'p2oceangrid', game: @game %>
              </div>
     
            </div>
              <% unless @game.state == "gameover" %>
                <%= render 'goplayform', game: @game %> 
            <% end %>            
          <% end %>
<% end %>
<p>
<%= link_to 'Back', games_path %>
