<p id="notice"><%= notice %></p>

<h1>Games</h1>

<div class="tablewrapper">
  <div class="tableheader">Player 1</div>
  <div class="tableheader">Score</div>
  <div class="tableheader">Player 2</div>
  <div class="tableheader">Score</div>
  <div class="tableheader">Game Created</div>
  <div class="tableheader">Last Played</div>
  <div class="tableheader"></div>
  <div class="tableheader"></div>
  <% @games.each do |game| %>

  <div class="tablebox"><%= game.pA_name %></div>
  <div class="tablebox">
    <% if game.score["PlayerA"] == 5 %>
      <td>WIN</td>  
     <% else %>
      <td><%= game.score["PlayerA"] %></td>
    <% end %>
  </div>
  <div class="tablebox"><%= game.pB_name %></div>
  <div class="tablebox">
    <% if game.score["PlayerB"] == 5 %>
      <td>WIN</td>
     <% else %>
      <td><%= game.score["PlayerB"] %></td>      
    <% end %></div>
  <div class="tablebox"><%= game.created_at.strftime("%d-%m-%Y") %></div>
  <div class="tablebox"><%= game.updated_at.strftime("%d-%m-%Y %I:%M %p") %></div>
  <div class="tablebox"><%= link_to 'Play', edit_game_path(game), style: "color: blue;" %></div>
  <div class="tablebox"><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  <% end %>
</div>

<br>

<%= link_to 'New Game', new_game_path, class: "btn btn-lg btn-primary" %>
