<footer class="footer">
  <small>
    <%= t('global.footer.blurb') %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('global.footer.about'), static_pages_about_path %></li>
      <li><%= link_to t('global.footer.contact'), static_pages_contact_path %></li>
    </ul>
  </nav>
</footer>